# --- JAVA & COMPILACION ---
*.class
*.log
*.jar
*.war
# Ignorar la carpeta donde Eclipse guarda los .class compilados
bin/
build/
target/

localidades.json

# --- ECLIPSE ---
# Ignorar configuraciones específicas del usuario pero mantener las del proyecto
.metadata/
.recommenders/
remote.properties
*.userlibraries
*.launch

# Si querés que cada uno configure sus propias librerías/path, descomentá estas 3:
# .settings/
# .project
# .classpath

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
Desktop.ini

# --- TEMPORALES ---
*.tmp
*.bak
*.swp